.converter-page {
  position: relative;
  top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.converter-page__result-field {
  margin-top: 50px;
  margin-bottom: 50px;

  width: 78vw;
  height: 150px;

  background-color: #8CDFF3;

  border-radius: 20px;

  box-shadow: inset 0px 9px 25px -3px rgba(0, 0, 0, 0.2);

  font-size: 40px;
  font-weight: 700;
  color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.converter-page__convert-button {
  margin-bottom: 20px;

  width: 250px;

  background-color: #FFA44A;

  font-size: 25px;
}
.converter-page__convert-button:hover {
  background-color: #f3912f;
}


/** ================= MOBILE STYLES ================= */
@media (max-width: 768px) {
  .converter-page__result-field {
    margin-top: 35px;
    margin-bottom: 35px;

    width: 90vw;
    height: 110px;

    font-size: 25px;
  }

  .converter-page__convert-button {
    font-size: 20px;
  }
}