.converter-page {
  position: relative;
  top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.converter-page__input-wrapper {
  border-radius: 20px;
}

.converter-page__input {  
  width: 35vw;
  height: 70px;

  border: 12px solid #FFF54A;
  border-radius: 20px;

  background-color: #FFFBBB;
  box-shadow: inset 0px 2px 13px 5px rgba(202, 196, 88, 0.5);

  outline: none;

  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.converter-page__equal-sign {
  margin-left: 20px;
  margin-right: 20px;

  font-size: 50px;
  font-weight: 700;

  color: white;
}

.converter-page__converted-currensy-btn {
  margin-left: 40px;

  background-color: #EA44B3;
}
.converter-page__converted-currensy-btn:hover {
  background-color: #cf1290;
}

.converter-page__convert-to-currensy-btn {
  background-color: #CFFB49;
}
.converter-page__convert-to-currensy-btn:hover {
  background-color: #acdb1e;
}

.converter-page__settings-field {
  display: flex;
  align-items: center;
}

.converter-page__result-field {
  margin-top: 50px;
  margin-bottom: 50px;

  width: 78vw;
  height: 150px;

  background-color: #8CDFF3;

  border-radius: 20px;

  box-shadow: inset 0px 9px 25px -3px rgba(0, 0, 0, 0.2);

  font-size: 40px;
  font-weight: 700;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.converter-page__convert-button {
  width: 20vw;

  background-color: #FFA44A;

  font-size: 25px;
}
.converter-page__convert-button:hover {
  background-color: #f3912f;
}