.converter-settings-field {
  display: flex;
  align-items: center;
}

.converter-settings-field__input-wrapper {
  border-radius: 20px;
}

.converter-settings-field__input {  
  width: 40vw;
  height: 70px;

  border: 12px solid #FFF54A;
  border-radius: 20px;

  background-color: #FFFBBB;
  box-shadow: inset 0px 2px 13px 5px rgba(202, 196, 88, 0.5);

  outline: none;

  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.converter-settings-field__equal-sign {
  margin-left: 20px;
  margin-right: 20px;

  font-size: 50px;
  font-weight: 700;

  color: white;
}

.converter-settings-field__buttons-wrapper {
  display: flex;
  align-items: center;
}

.converter-settings-field__converted-currensy-btn {
  margin-left: 40px;

  background-color: #EA44B3;
}
.converter-settings-field__converted-currensy-btn:hover {
  background-color: #cf1290;
}

.converter-settings-field__convert-to-currensy-btn {
  background-color: #CFFB49;
}
.converter-settings-field__convert-to-currensy-btn:hover {
  background-color: #acdb1e;
}



.converter-settings-field__converted-list {
  padding: 21px 13px;

  position: absolute;
  top: 100px;

  margin-left: 40px;
  
  background: #f38ad0;
}

.converter-settings-field__converted-item {
  background: #b11f80;
}

.converter-settings-field__convert-list {
  padding: 21px 13px;

  position: absolute;
  top: 100px;

  background: #E1FC8B;
}

.converter-settings-field__convert-item {
  background: #ABC757;
}


/** ================= MOBILE STYLES ==================== */
@media (max-width: 768px) {
  .converter-settings-field {
    flex-direction: column;
  }

  .converter-settings-field__input {
    width: 85vw;
    height: 45px;

    border: 5px solid #FFF54A;
    border-radius: 10px;

    font-size: 30px;
  }

  .converter-settings-field__buttons-wrapper {
    margin-top: 30px;
  }

  .converter-settings-field__equal-sign {
    font-size: 40px;
  }

  .converter-settings-field__converted-currensy-btn {
    margin-left: 0;
  }

  .converter-settings-field__converted-list {
    margin: 0;
  }
}